[pkg/stanza] Support octet counting for syslog RFC3164

### Component(s)

pkg/stanza

### Is your feature request related to a problem? Please describe.

The current octet counting implementation assumes that octet counting framing is RFC5424, but some vendors (e.g., FortiGate) use octet counting framing with RFC3164 message formats.

### Describe the solution you'd like

Add support for RFC6587 octet counting framing with RFC3164 message format.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

### Tip

<sub>[React](https://github.blog/news-insights/product-news/add-reactions-to-pull-requests-issues-and-comments/) with 👍 to help prioritize this issue. Please use comments to provide useful context, avoiding `+1` or `me too`, to help us triage it. Learn more [here](https://opentelemetry.io/community/end-user/issue-participation/).</sub>

/label waiting-for-code-owners

I support the idea to support octet counting with RFC3164. Does the `go-syslog` support this already?  https://github.com/leodido/go-syslog/blob/v4.5.0/octetcounting/parser.go#L59